@charset "UTF-8";



.btn-giallo {
    background-color: rgb(238, 226, 58);
    color:black;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
}


.btn-nero {
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
}
.btn-chiaro{
	 background-color: rgb(101, 131, 161);
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    border: none;
}

.custom-bg {
    background-color: rgb(26, 45, 63);
}

.testo-pargraph{
	color: white;
}

.testo-titoli{
	color: rgb(238, 226, 58);
}

.headline-background {
  
  	background-size: cover; 
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 160px;
	background: linear-gradient(180deg, rgba(101, 131, 161, 0.4094) 0%, rgba(0, 0, 0, 0) 100%), url(./img-ref/kubrick-2001-fotoXK.jpg);

}


